/* file css responsive sotto i 768px*/

@media all and (max-width: 768px){

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #lezioni{
    background-color: #2E5F33;
  }

  #steps{
    background-color: #2596be;
  }

  #why{
    background-color: #fab86a;
  }

  .row{
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }

  #lezioni .row>.left, #lezioni .row>.right{
    margin-bottom: 40px;
    padding: 0 20px;
  }

  #lezioni .row img{
    max-width: 100%;
  }

  #steps .row>.left, #steps .row>.central, #steps .row>.right{
    width: 100%;
    margin-bottom: 70px;
    float: none;
  }

  h1, h3{
    padding-top: 30px;
    padding-bottom: 20px;
  }

  hr{
    margin-top: 30px;
  }

  .third{
    margin-bottom: 50px;
  }

}
